<div class="container">
  <div class="header">
    <div class="headerArea">
      <span class="pi pi-user"></span>
      <h3>{{header}}</h3>
    </div>
    <button pButton pTooltip="Enter your username" tooltipPosition="bottom" (click)="newClient($event)">
      <span class="pi pi-plus" style="margin-right: 10px;"></span>NOVO</button>
  </div>
  <p-table [value]="items" [columns]="cols">
      <ng-template pTemplate="header">
          <tr>
              <th *ngFor="let col of cols">
                {{col.header}}
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns>
          <tr>
              <td *ngFor="let col of cols">
                {{rowData[col.field]}}
                <div class="statusSignInactive" *ngIf="rowData[col.field] === 'Inativo'"></div>
                <div class="statusSignActive" *ngIf="rowData[col.field] === 'Ativo'"></div>
                <button
                pButton
                *ngIf="col.field === 'Ação'"
                (click)="select(rowData)"
                [style]="col.width">
                  {{col.buttonLabel}}
                </button>
              </td>

            </tr>
      </ng-template>
  </p-table>
</div>
